{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %} {% endblock %}

    <link
      crossorigin="anonymous"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      rel="stylesheet"
    />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap"
      rel="stylesheet"
    />
    {% block style %} {% endblock style %}
    <style>
      .sign-wrapper {
        width: min(100%, 30rem);
        background:rgba(12,12,12,0.7);
        color:white;
        padding-top:10px;
        padding-bottom:10px;

      }
  .hero {
  width: 100%;
  height: 100vh;
  background: url({% static 'assets/img/hero-bg.jpg' %}) top center ;
  background-size: cover;
  position: relative;
  padding: 0;
}


    </style>
  </head>
  <body class="hero">
    {% block body %}

    <nav class="navbar-expand-sm  navbar navbar-dark bg-dark mb-3">
      <a class="navbar-brand" href="{% url 'index' %}">Event manager</a>
      <button
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler d-lg-none"
        data-target="#collapsibleNavId"
        data-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_email' %}"
              >Change E-mail</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block content %} {% endblock %} {% if messages %}
    {% for message in messages %}
    <div class="alert text-center">{{message}}</div>
    {% endfor %} {% endif %} {% endblock %} {% block extra_body %} {% endblock %}
    <script
      crossorigin="anonymous"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
    {% block script %} {% endblock script %}

  </body>
</html>
